@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root{
    --cor-primaria: #480B51;
    --cor-secundaria: #000000;
    --cor-terciaria: #FFFFFF;
    --font-principal: 'DM Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    display: flex;
    padding: 0.5% 0% 0.5% 5%;
    align-items: center;
    justify-content: row;
    gap: 60%;
}

.cabecalho__nome{
    font-size: 1.8rem;
    font-weight: 700;
    font-family: var(--font-principal);
    color: var(--cor-primaria);
}

.cabecalho__menu{
    display: flex;
    gap: 48px;
}

.cabecalho__menu :hover{
    text-decoration-line: underline;
}

.cabecalho__menu__link{
    display: flex;
    align-items: center;
    font-family: var(--font-principal);
    font-size: 1rem;
    font-style: 400;
    color: var(--cor-secundaria);
    text-decoration-line: none;
}

.cabecalho__menu__curriculo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-principal);
    font-size: 1rem;
    font-style: 400;
    color: var(--cor-terciaria);
    text-decoration-line: none;
    background-color: #480B51;
    width: 112px;
    height: 48px;
    border-radius: 50px;
}

.apresentacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 73px 400px 73px 112px;
    gap: 40px;
}

.apresentacao__imagem{
    display: flex;
    align-items: center;
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    font-family: var(--font-principal);
    gap: 16px;
    width: 612px;
    height: 250px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: var(--font-principal);
    font-weight: 500;
}

.apresentacao__links__navegacao{
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.subtitulo{
    font-style: 1.3rem;
    font-weight: 500;
}

h1 {
    color: var(--cor-primaria);
    font-size: 3.75rem;
    font-weight: 700;
}

p{
    font-size: 1.2rem;
    font-weight: 400;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% 5%;
    }

    .apresentacao__conteudo{
        width: auto;
        align-items: center;
    }
}

@media (max-width: 850px) {
    body {
        box-sizing: border-box;
        background-color: var(--cor-terciaria);
        color: var(--cor-secundaria);
    }
    
    .cabecalho {
        padding: 5%;
        display: flex;
        justify-content: space-between;
        gap: 2%;
    }
  
    .cabecalho__menu {
        display: flex;
        flex-direction: row;
        gap: 12px;
        justify-content: space-between;
    }
  
    .cabecalho__menu__link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2%;
        font-size: 1.1rem;
    }
  
    .cabecalho__menu__curriculo {
        font-size: 1.1rem;
        width: 96px;
        height: 40px;
    }
  
    .apresentacao {
        flex-direction: column;
        padding: 5% 5% 10% 5%;
        gap: 32px;
    }
  
    .apresentacao__conteudo {
        width: 100%;
        height: auto;
        align-items: center;
        text-align: center;
    }
  
    .apresentacao__links {
        gap: 16px;
        text-align: center;
    }
  
    .apresentacao__links__navegacao {
        flex-direction: column;
        gap: 16px;
    }
  
    h1 {
        font-size: 2.5rem;
    }
  
    p {
        font-size: 1rem;
    }
  }